:root {
    --primary-color: purple;
  }

#heading {
  color: green;
}

#para1 {
  color: darkorchid;
}

#headingTwo {
  color: blueviolet;
  font-style: italic;
}

a:hover {
  color: greenyellow;
  font-weight: 600;
}

.submit {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 200px;
  box-sizing: border-box;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.centered-container {
  max-width: 600px;
  margin: auto;
}
.link {
  text-decoration: none;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  padding: 10px;
}

.link-secondary {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
  padding: 10px;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}
.nav-pills {
  text-align: right;
}
.navigation .link {
  color: white;
}
.navigation .link-active {
  font-weight: bold;
}
.nav-brand {
  font-weight: bold;
}
